.navbar {
    background-color: #2b2f30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 5vw;
    width: 90vw;
    height: 35px;
}
.logo {
    width: 15%;
}
p {
    color: gray;
}

.main-container {
    text-align: center;
    
}
.background1 {
    background-color: rgb(232, 185, 51);
    color: white;
}
h4 {
    color: black;
}
button {
    color:white;
    background-color: #2b2f30;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 25px;
}