<form method="POST" action="/pirates">
	<div>	
		<label for="name">Name</label>
		<input name="name">
	</div>
	<div>	
		<label for="birthplace">Birthplace</label>
		<input name="birthplace">
	</div>
	<div>	
		<label for="death_year">Year of Death</label>
		<input name="death_year">
	</div>
	<div>	
		<label for="base">Base</label>
		<input name="base">
	</div>
	<div>	
		<label for="nickname">Nickname</label>
		<input name="nickname">
	</div>

	<div>
		<button>Create New Pirate</button>
	</div>

</form>

<a href="/pirates">Go back</a>